{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "indent": ["error", 2],
        "comma-dangle": "off",
        "require-jsdoc": "off",
        "operator-linebreak": "off",
        "no-debugger": "off"
    },
    "extends": ["eslint:recommended", "google"]
}