@import '_variables.scss';
@import '_mixins.scss';

.header {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin: $header-margin;
  
  :read-only {
    cursor: pointer;
    text-align: center;
  }
  
  &__coords,
  &__calculate {
    width: 195px;
    
    &-titles {
      display: flex;
      margin-bottom: 10px;
    }
    
    &-button {
      width: 100%;
      text-align: center;
      border: 1px solid $border-color;
      
      @include button;
    }
  }
  
  &__coords {
    &-title {
      min-width: 60px;
      margin-right: 10px;
      text-align: center;
    }
  }
  
  &__calculate {
    &-title {
      min-width: 90px;
      margin-right: 10px;
      text-align: center;
    }
    
    .header__inputs {
      &-input {
        width: 94px;
      }
    }
  }
  
  &__inputs { 
    max-width: 300px;
    max-height: $inputs-max-height;
    
    &-elements {
      min-width: 100px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    &-input {
      width: 60px;
      border: 1px solid $border-color;
      border-radius: 1px;
      outline: none;
      height: 20px;
      
      &:hover {
        border-color: black;
      }
    }
    
    &-button {
      min-width: 60px;
      height: 20px;
      text-align: center;
      border: 1px solid $border-color;
      
      @include button;
      
      &__disabled {
        min-width: 60px;
        height: 20px;
        text-align: center;
        border: 1px solid $border-color;
        color: $border-color;
      }
    }
  }
}

._overfilled {
  overflow-y: scroll;
  width: 222px;
  margin-bottom: 10px;
  
  .header__inputs-elements {
    margin-right: 10px;
  }
}

.red {
  border-color: #ff0000
}

.green {
  border-color: #00ff00
}

.blue {
  border-color: #61dafb;
}